* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  overflow-x: hidden;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  width: 100%;
}

html, body {
  background-color: #000;
}

.s-gpu {
  will-change: transform;
}

.l-debug {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #FFF;
  font-size: 12px;
  display: none;
}

.l-canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: relative;
  top: 0;
  left: 0;
  width: 50%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 0vw; */
}

main input {
  width: 100%;
  height: 100%;
  transform: scale(0.75);
  font-size: 48px;
}

.js-text {
  position: relative;
  top: 0;
  left: 0;
  font-family: 'Tilt Neon', cursive;
}

.js-text-org {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  color: #000;
  /* visibility: hidden; */
  /* border-right: 1px solid rgba(0,0,0,1);
  border-bottom: 1px solid rgba(0,0,0,1); */
  /* pointer-events: none; */
  opacity: 0.00001;
}

.js-text-blocks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.js-text-item {
  /* background-color: #fff; */
  pointer-events: none;
}

.js-text-item-inner {
  color: #fff;
}

.l-info {
  font-family: 'Source Code Pro', monospace;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 50px;
}
.l-info h1 {
  font-size: 14px;
  color: inherit;
  background-color: #000;
  margin-bottom: 1em;
}
.l-info a {
  color: inherit;
  text-decoration: line-through;
}
.l-info a:hover {
  text-decoration: none;
}

@media screen and (max-width:768px) {
  .l-info {
    justify-content: flex-start;
    margin-top: 20px;
    height: auto;
  }
  .l-info h1 {
    font-size: 10px;
  }
}